body {
  font-family: minion-3-1, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #333333;
  text-align: center;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 60px 0 40px 0;
  font-weight: 400;
  font-size: 2em;
}

h2 {
  font-weight: 400;
  font-size: 1em;
  max-width: 560px;
  line-height: 1.5;
  margin: 0 auto;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 40px;
}


p {
  line-height: 1.5;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

a {
  text-decoration: none;
  color: #808080;
  font-size: 1em;
}

a:hover {
  color: #333333;
}

a:visited {
}

.menu {
  margin: 0 0 150px 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
  padding-bottom: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu .selected {
  border-bottom: 1px solid #333333;
}

.menu .selected a {
  color: #333333;
}

.photos {
  font-size: 2em;
  margin: 50px 0;
}

.headshot {
  width: 100%;
  max-width: 460px;
}

.photo {
  text-align: center;
  margin: 80px 0 0 0;
  font-style: italic;
}

.photo img {
  width: 100%;
  max-width: 700px;
}

.work-item {
  margin-top: 150px;
  text-align: center;
}

.work-item h3 {
  margin-bottom: 0px;
}

.work-item img {
  width: 100%;
  max-width: 1280px;
}

.work-item img.readmill {
  max-width: 970px;
}


.work-item p {
  margin: 20px auto;
  max-width: 560px;
  text-align: center;
}

.work-item p.years {
  margin-top: 0;
  color: #808080;
}

.work-item hr {
  margin-top: 50px;
  width: 50px;
  border: 0;
  height: 1px;
  background: #cccccc;
}

.work-item video {
  width: 100%;
  max-width: 1280px;
}



